@mixin size($size) {
  $height: nth($size, 1);
  $width: $height;

  @if length($size) > 1 {
    $width: nth($size, 2);
  }

  height: $height;
  width: $width;
}

@mixin scroll($size: 6px) {
  &::-webkit-scrollbar {
    @include size($size);
  }

  &::-webkit-scrollbar-thumb {
    background: #DDDDDD;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #FAFAFA;
  }
}

@mixin flex-position($x: null, $y: null) {
  align-items: $y;
  display: flex;
  @if ($x) {
    justify-content: $x;
  }
}
