.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100%;
  height: 100%;
}

.sideBar {
  padding: 15px;
  border-right: gray 1px solid;
  min-width: 170px;
  max-width: 250px;
  background: #FAFAFA;
  height: 100%;
  overflow-y: auto;
}

.content {
  padding: 15px;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow-y: auto;

  > header {
    margin-bottom: 10px;

    :global(h1) {
      min-width: 130px;
    }
  }

  > main {
    height: 100%;
    overflow-y: auto;
  }
}
